<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <h1>{{ pageTitle }}</h1>
  <p>Text about stuff...</p>

  <footer>
    Copyright &copy; {{ currentYear }}
  </footer>

</body>

</html>
